<div class="product-container">
  <% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
    <li class="product-card">
      <div class="product-card-image">
        <% if product.product_image.attached? %>
          <%= image_tag product.product_image %>
        <% else %>
          <%= image_tag("no_photo.png") %>
        <% end %>
      </div>
      <div class="product-card-info">
        <%= link_to product.name, product_path(product) %>
      </div>
      </li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no products yet.</p>
    <% end %>
</div>
<p>Filter by: <%= link_to "All", products_path %> | <%= link_to "3 most recent", products_path(:filter => "most_recent") %> | <%= link_to "By Country: United States", products_path(:filter => "by_country") %></p>

<p><%= link_to "Add a product", new_product_path %></p>

<% content_for(:nav) do %>
  <p><%= link_to "Home", products_path %></p>
<% end %>
