<h1>Products:</h1>

<% if @products.any? %>
  <ul>
    <p>Product | Cost | Country of Origin</p>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %> | $<%= product.cost %> | <%= product.country_of_origin %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
<p>Filter by: <%= link_to "All", products_path %> | <%= link_to "3 most recent", products_path(:filter => "most_recent") %></p>

<p><%= link_to "Add a product", new_product_path %></p>
