<h1><%= @product.name %></h1>
<h2>Cost: $<%= @product.cost %></h2>
<h2>Country of Origin: <%= @product.country_of_origin %></h2>

<% if current_user.admin? %>
  <p><%= link_to "Edit product", edit_product_path %></p>
<% end %>

<% if @product.product_image.attached? %>
 <%= image_tag @product.product_image %>
<% else %>
 <p>image not attached</p>
<% end %>


<h3>Reviews:</h3>
<% if @product.reviews.any? %>
  <ul>
    <% @product.reviews.each do |review| %>
      <li><p><strong><%= review.author %></strong> said:</p>
        <blockquote>"<%= review.content_body %>"</blockquote>
        <p><strong>Rating:</strong>  <%= review.rating %>/5
        <% if current_user.admin? %>
          <p><%= link_to "Edit review", edit_product_review_path(@product, review.id) %></p>
        <% end %>
      </li>
    <% end %>
    <% else %>
      <p>No reviews at this time</p>
    <% end %>
  </ul>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>

<% content_for(:nav) do %>
  <p><%= link_to "Home", products_path %></p>
<% end %>
