<!DOCTYPE html>
<html>
  <head>
    <title>MariosSpecialtyFoodProducts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h1 class="headline">Mario's Speciality Food Products</h1>
        <div class="nav">
          <%= yield :nav %>
          <%= render 'devise/menu/user_name' %>
        </div>
      </nav>
    </header>
    <%= yield %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
  </body>
</html>
