<!DOCTYPE html>
<html>
  <head>
    <title>MariosSpecialtyFoodProducts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= yield :nav %>
        <%= render 'devise/menu/user_name' %>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </nav>
    </header>
    <%= yield %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
  </body>
</html>
